<% const title = 'Error'; %>
<%- include('layout-wrapper', { body: `
<section class="message-container py-3">
  <h2 class="mb-md text-danger">Error</h2>
  <p class="error-message">${message}</p>
  <nav class="mt-2" aria-label="Error page navigation">
    <a href="/" class="btn">Go Home</a>
  </nav>
</section>
` }) %>
